*.svn
*~
.DS_Store
ThumbsDB
DEADJOE
\#*#
.#*
*.pyc
**/node_modules
.sass-cache
flicksfrontend/app/style/app.css
flicksfrontend/dist
flicksfrontend/.tmp
flicksfrontend/bower_components
venv
flicks/settings_local.py
