body {
  font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(229,229,229,1);
}

a {
  color: #555;
}

a:hover, a:active {
  color: black;
}

/* PAGE STRUCTURE */

#toolbar {
  padding: 9px 7px;
  text-align: center;
  background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
}

#buttons {
  float: left;
}

#buttons > .button {
  margin-right: 8px;
}

#top-search {
  float: right;
  margin-right: 8px;
}

#top-search input {
  width: 280px;
  margin-right: 8px;
}

#show-advanced {
  float: right;
}

#info {
  margin: 4px 8px 0 0;
  padding: 0 20px 0 10px;
  font-size: 120%;
  text-shadow: 0 1px 0 white;
  max-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#content {
  position: relative;
  float: right;
}

#dialog {
  display: none;
}

/* LOOKUP LINKS */

a.lookup {
  text-decoration: none;
}

a.lookup:hover, a.lookup:active {
  text-decoration: underline;
}

/* ADV SEARCH */

#adv-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  display: none;
  padding: 16px 32px;
  opacity: 0.975;
  background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
  border-bottom-left-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

#adv-search .close, #adv-search .clear-search {
  float: right;
}

#adv-search h1 {
  margin: 0 0 24px;
  font-size: 160%;
  text-shadow: 0 1px 0 white;
}

#adv-search > form > label {
  width: 120px;
  font-size: 120%;
  display: inline-block;
  vertical-align: top;
}

#adv-search input[type=text] {
  width: 200px;
}

#adv-search .slider-wrapper {
  display: inline-block;
  width: 200px;
  margin-top: 4px;
}

#adv-search .slider-wrapper .display {
  font-size: 110%;
  margin-top: 4px;
  text-align: center;
}

#adv-search input[type=submit] {
  width: auto;
  margin-top: 24px;
}

#adv-search .inline {
  display: inline-block;
}

#adv-search .sep {
  clear: both;
  height: 8px;
}

/* SIDEBAR */

#sidebar {
  display: none;
  float: right;
  background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(208,208,208,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(208,208,208,1) 100%); /* FF3.6+ */
}

#sidebar .handle {
  width: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  cursor: pointer;
  float: left;
}

#sidebar .handle:hover {
  background-color: #ddd;
}

#sidebar.collapsed .handle {
  background-image: url(../images/handle-collapsed.png);
}

#sidebar.expanded .handle {
  background-image: url(../images/handle-expanded.png);
}

#sidebar.collapsed .movie-info {
  display: none;
}

#sidebar.expanded .movie-info {
  display: block;
  height: 100%;
  width: 490px;
  float: left;
}

#sidebar .movie-info form {
  margin: 0;
  padding: 10px;
}

#sidebar .movie-info input {
  padding: 5px 10px;
  margin: 0;
}

#sidebar .movie-info .id, #sidebar.expanded .movie-info input[name=title] {
  font-weight: bold;
  font-size: 200%;
}

#sidebar .movie-info div.id {
  display: inline-block;
  width: 50px;
  text-align: right;
  margin-right: 15px;
  text-shadow: 0 1px 0 white;
}

#sidebar .movie-info input[name=title] {
  width: 380px;
  background-color: rgba(255, 255, 255, 0.4);
}

#sidebar .actions {
  margin: 12px 0 8px;
}

#sidebar .action {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

#sidebar .action.fav-add {
  background-image: url(../images/silk_icons/heart_add.png);
}

#sidebar .action.fav-remove {
  background-image: url(../images/silk_icons/heart_delete.png);
}

#sidebar .action.mark-seen {
  background-image: url(../images/silk_icons/eye.png);
}

#sidebar .action.unmark-seen {
  background-image: url(../images/silk_icons/eye_delete.png);
}

#sidebar .action.delete {
  background-image: url(../images/silk_icons/delete.png);
}

#sidebar .search-icon, #sidebar .imdb_id {
  float: right;
  margin-left: 10px;
}

#sidebar .imdb_id {
  margin-top: 1px;
}

#sidebar .cover {
  float: right;
  width: 235px;
  margin: 0 0 16px 16px;
}

#sidebar .cover img {
  width: 235px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#sidebar .movie-info .val {
  margin: 2px 0 12px;
  font-size: 130%;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  color: #555;
}

#sidebar .movie-info label {
  font-size: 110%;
}

#sidebar .movie-info .half-width {
  float: left;
  width: 100px;
}

.author {
  text-align: right;
  font-style: italic;
}

.ui-tabs-hide {
  display: none !important;
}

.ui-tabs .ui-tabs-panel {
  line-height: 160%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* GRID */

#grid {
  display: none;
}

.slick-row.odd .slick-cell {
  background-color: #f2f7f4;
}

.slick-row:hover .slick-cell {
  background-color: rgb(199, 221, 231);
}

.slick-row.active .slick-cell {
  background-color: #ffcdcd;
}

#spinner {
  position: fixed;
  left: 18px;
  bottom: 18px;
  width: 48px;
  height: 48px;
  background-image: url(../images/spinner.gif);
  z-index: 1000;
}

.slick-cell .icon {
  position: absolute;
  top: 0;
  right: 2px;
  width: 16px;
  height: 16px;
}

.slick-cell .seen-yes {
  background-image: url(../images/silk_icons/eye.png);
}

.slick-cell .fav {
  background-image: url(../images/silk_icons/heart.png);
}

.slick-cell .flag {
  margin-top: 1px;
  float: left;
}

.slick-sort-indicator-desc {
  background: url(../images/sort-desc.png);
}

.slick-sort-indicator-asc {
  background: url(../images/sort-asc.png);
}

/* MODAL */

#modal.error {
  background-image: url(../images/silk_icons/delete.png);
}

#modal.warning {
}

#modal {
  background: transparent no-repeat 12px 0;
}

#modal .content {
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 24px;
  padding-top: 1px;
}

/* ADD MOVIE DIALOG */

#dialog-add-movie label {
  width: 100px;
  display: inline-block;
}

#dialog-add-movie input[type=text] {
  width: 136px;
  display: inline-block;
}

#dialog-add-movie .spinner {
  width: 48px;
  height: 48px;
  background-image: url(../images/spinner.gif);
  margin: 12px auto 0;
  display: none;
}

#dialog-add-movie .results ul {
  padding-left: 0;
}

#dialog-add-movie .result_link {
  text-decoration: none;
}

#dialog-add-movie .result_link:hover {
  text-decoration: underline;
}

#dialog-add-movie .results ul li {
  list-style-type: none;
  margin-bottom: 4px;
}

#dialog-add-movie .results .title {
  font-weight: bold;
}

#dialog-add-movie .results .imdb_id {
  color: grey;
}

/* TOOLTIP */

.ui-tooltip {
  opacity: 0.975;
}

.ui-tooltip h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.ui-tooltip p {
  margin-top: 0;
  margin-bottom: 0;
}

.ui-tooltip ul.akas {
  padding-left: 0;
  margin-bottom: 0;
}

.ui-tooltip .aka_title {
  font-weight: bold;
}

.ui-tooltip ul.akas li {
  list-style-type: none;
  margin-bottom: 4px;
}

/* BIG OVERLAY COVER */

#overlay-bg {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

#big-cover {
  display: none;
  position: absolute;
  z-index: 200;
  left: 50%;
  top: 50%;
  cursor: pointer;
}

#big-cover img {
  padding: 2px;
  border: 1px solid white;
  box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.9);
}

/* MISC */

.clear {
  clear: both;
}

.clear-left {
  clear: left;
}

input {
  border-width: 1px;
  color: #555;
}

input:active, input:focus {
  color: black;
}
