@import 'compass/css3/images'
@import 'compass/css3/box-shadow'

$color-selected: #e8eef3
$color-header-bg: #ebebeb
$color-fav: #be9900
$color-seen: #375b8a
$color-silver: #666

$color-border: lighten(black, 65%)
$color-bg1: darken(white, 6%)
$color-bg2: white

$default-border-radius: 8px

= layout-box-shadow
	+box-shadow(rgba(0, 0, 0, 0.1) 0 0px 30px)

= default-box-shadow
	+box-shadow(rgba(0, 0, 0, 0.15) 0 0px 10px)

= default-gradient
	+background(linear-gradient(to bottom, $color-bg2, $color-bg1))

= default-gradient-darker
	$darken-percent: 2%
	+background(linear-gradient(to bottom, darken($color-bg2, $darken-percent), darken($color-bg1, $darken-percent)))

= default-gradient-inside
	+background(linear-gradient(to bottom, $color-bg1, $color-bg2))
