@import 'compass/css3/images'
@import 'compass/css3/box-shadow'

$color-default-font: #333
$color-selected: #e8eef3
$color-selected-dark: #4692d1
$color-header-bg: darken(white, 2%)
$color-fav: #be9900
$color-seen: #375b8a
$color-silver: #666

$color-border: lighten(black, 80%)
$color-border-lighter: lighten($color-border, 5%)
$color-bg1: darken(white, 6%)
$color-bg2: white

$small-border-radius: 2px
$default-border-radius: 8px

= layout-box-shadow
  +box-shadow(rgba(0, 0, 0, 0.1) 0 0px 30px)

= default-box-shadow
  +box-shadow(rgba(0, 0, 0, 0.18) 0 0px 10px)

= default-gradient
  +background(linear-gradient(top bottom, $color-bg2, $color-bg1))

= default-gradient-darker
  $darken-percent: 2%
  +background(linear-gradient(top bottom, darken($color-bg2, $darken-percent), darken($color-bg1, $darken-percent)))

= default-gradient-inside
  +background(linear-gradient(top bottom, $color-bg1, $color-bg2))
