@import 'compass/css3/border-radius'
@import 'common'

$padding: 18px

#details
  display: flex
  flex-flow: column
  position: absolute
  width: 100%
  height: 100%
  padding: 0
  min-height: 100%

  .top
    display: flex
    flex-flow: row
    padding: $padding / 1.5 $padding $padding / 3 $padding

    .title
      order: 1
      flex: 1
      font-weight: bold
      font-size: 18px
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden

    .year
      order: 2
      font-size: 18px
      color: $color-silver
      text-align: right
      margin: 0 8px

    .dismiss
      order: 3
      padding-top: 2px

  .menu
    padding: 0 $padding

  .content
    +border-top-radius($small-border-radius)
    +border-bottom-radius($default-border-radius)
    +default-box-shadow
    +default-gradient
    $border: 1px solid #ccc
    flex: 1
    margin: 0 $padding
    overflow-x: hidden
    overflow-y: auto
    border-right: $border
    border-bottom: $border
    border-left: $border

    a
      color: $color-default-font

    > .tab-content
      font-size: 13px
      padding: 14px 16px

      p.row
        text-align: right
        margin: 2px 0 2px
        padding: 2px 6px 2px

        label
          float: left
          margin: 0 6px 0 0
          font-weight: bold

      .author
        text-align: right
        font-style: italic

      .notes
        width: 100%

  .cover-image
    margin: $padding
    text-align: center
    max-height: 50%

    a

      img
        +default-box-shadow
        +border-radius($default-border-radius)
        max-width: 100%
        max-height: 100%
        border: 1px solid silver
