@import 'compass/css3/border-radius'
@import 'compass/css3/text-shadow'
@import 'common'

html
  height: 100%

  body
    +text-shadow(0 1px 0 white)
    color: $color-default-font
    height: 100%
    overflow: hidden

    .tooltip
      +text-shadow(none)

    #layout
      height: 100%
      display: flex
      flex-flow: column
      padding: 0

      #toolbar
        z-index: 1000

      #content
        display: flex
        flex-flow: row
        z-index: 0
        flex: 1

        #sidebar
          +default-gradient-inside
          order: 1
          width: 23%
          min-width: 355px
          min-height: 100%
          position: relative
          border-top: 1px solid $color-border-lighter
          border-right: 1px solid $color-border-lighter
          overflow: hidden
          z-index: 500

          &.collapsed
            width: 0
            min-width: 0
            border-right: none

        #movies
          order: 2
          flex: 1
          position: relative
          min-height: 100%
          background-color: #ebebeb
          border-top: 1px solid $color-border-lighter
          z-index: -100
