@import 'compass/css3/transition'
@import 'compass/css3/user-interface'
@import 'common'

#toolbar

  .navbar
    margin-bottom: 0

    .navbar-brand
      +transition(color 0.5s)
      +user-select(none)
      cursor: default
      padding-top: 8px
      padding-bottom: 6px

      &:hover
        color: black

    form[role=search]

      .form-group
        margin-top: 2px

        .input-group
          width: 320px
