@import 'compass/css3/text-shadow'
@import 'compass/css3/transition'
@import 'compass/css3/user-interface'
@import 'common'

#toolbar
  max-height: 51px
  overflow: hidden

  .navbar
    max-height: 51px
    margin-bottom: 0

    .navbar-brand
      +transition(color 0.5s)
      +user-select(none)
      cursor: default
      padding-top: 8px
      padding-bottom: 6px

      &:hover
        color: $color-emph-font

    #status-text

      strong
        color: $color-emph-font

    #spinner
      +text-shadow(none)
      color: $color-emph-font
      margin: 11px 6px

    form[role=search] input[type=text]
      height: auto
