<div class="top">
  <div class="title">
    <span class="enable-tooltip" title="<%- title %>"><%- title %></span>
  </div>
  <div class="year">
     <%- year %>
  </div>
  <div class="dismiss">
    <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
  </div>
</div>

<div class="menu">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab-info" data-toggle="tab">Info</a></li>
    <li><a href="#tab-plot" data-toggle="tab">Plot</a></li>
    <li><a href="#tab-cast" data-toggle="tab">Cast</a></li>
    <li><a href="#tab-keywords" data-toggle="tab">Keywords</a></li>
    <li><a href="#tab-notes" data-toggle="tab">Notes</a></li>
    <li><a href="#tab-files" data-toggle="tab">Files</a></li>
  </ul>
</div>

<div class="content">
  <div class="tab-content">

    <div class="tab-pane active" id="tab-info">

      <p class="row well rating">
        <label>Rating</label>
        <span class="value enable-tooltip" title="<%- votes %> votes"><%- rating %></span>
      </p>

      <% _.each([[genres, 'Genres'], [directors, 'Directors'], [producers, 'Producers'], [writers, 'Writers'], [languages, 'Languages'], [countries, 'Countries']], function(d, i) { %>
      <% var data = d[0], label = d[1], key = label.toLowerCase() %>
        <p class="row <%= key %> <%= (i % 2 != 0) ? 'even well' : '' %>">
          <label><%= label %></label>
          <span class="value <%= key %>">
            <%= _.map(data, function(entry) { return '<a class="%s" href="#">%s</a>'.format(key, entry)  }).join(', ') %>
          </span>
        </p>
      <% }) %>

      <p class="row mpaa">
        <label>MPAA</label>
        <span class="value"><%- mpaa %></span>
      </p>

    </div>

    <div class="tab-pane" id="tab-plot">
      <% var plot_splitted = plot.split('::'); %>
      <% if (plot_splitted.length > 1) { %>
        <p><%= plot_splitted[0] %></p>
        <p class="author"><%= plot_splitted[1] %></p>
      <% } else { %>
        <%= plot %>
      <% } %>
    </div>

    <div class="tab-pane" id="tab-cast">
      <%= _.map(cast, function(entry) { return '<a class="cast" href="#">%s</a>'.format(entry)  }).join(', ') %>
    </div>

    <div class="tab-pane" id="tab-keywords">
      <%= _.map(keywords, function(entry) { return '<a class="keywords" href="#">%s</a>'.format(entry)  }).join(', ') %>
    </div>

    <div class="tab-pane" id="tab-notes">
      <form class="notes">
        <textarea class="form-control">notes</textarea>
      </form>
    </div>

    <div class="tab-pane" id="tab-files">
    </div>

  </div>
</div>

<div class="cover-image">
  <a href="#">
    <img title="Click to enlarge"
         class="enable-tooltip"
         alt="<%- title %>"
         src="<%= image_url %>">
  </a>
</div>
