<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fa fa-times"></i>
        </button>
        <h4 class="modal-title">
          <i class="fa fa-sliders"></i>
          Preferences
        </h4>
      </div>

      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="input-image-url" class="col-sm-3 control-label">Image URL</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="input-image-url" value="<%= image_url %>">
              <span class="help-block">
                Where the cover images are found (eg. <tt>http://example.com/covers/</tt>)
              </span>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Save
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
      </div>

    </div>
  </div>
</div>
