<div class="container-fluid">

  <!-- Search input -->
  <form class="navbar-form navbar-right" role="search">
    <div class="form-group">
      <div class="input-group">

        <input type="text" class="form-control" placeholder="Search" value="<%= typeof(search) === 'string' ? search : '' %>">

        <span class="input-group-btn">
          <button title="Clear search" class="btn btn-default btn-clear-search enable-tooltip" type="button">
            <i class="fa fa-times"></i>
          </button>

          <button class="btn btn-default disabled" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </span>

      </div>
    </div>
  </form>

  <!-- Status text -->
  <p class="status-text navbar-text navbar-right"></p>

  <!-- Load indicator -->
  <p class="spinner navbar-text navbar-right">
    <i class="fa fa-spinner fa-2x fa-spin"></i>
  </p>

  <!-- Display -->
  <div class="btn-group radio-display-mode" data-toggle="buttons">
    <label title="List view" class="btn btn-default navbar-btn active enable-tooltip">
      <input type="radio" name="options" value="grid">
      <i class="fa fa-list"></i>
    </label>
    <label title="Tiles view" class="btn btn-default navbar-btn enable-tooltip">
      <input type="radio" name="options" value="tiles">
      <i class="fa fa-th"></i>
    </label>
  </div>

  <div class="btn-group">
    <label title="Toggle filters" class="btn btn-default navbar-btn enable-tooltip btn-toggle-filters">
      <i class="fa fa-filter"></i>
    </label>
    <label title="Toggle details" class="btn btn-default navbar-btn enable-tooltip btn-toggle-details">
      <i class="fa fa-info-circle"></i>
    </label>
  </div>

  <!-- Add movie -->
  <button type="button" class="btn btn-default btn-add-movie navbar-btn">
    <i class="fa fa-plus"></i>
    Add movie
  </button>

  <!-- Stats button -->
  <button type="button" class="btn btn-default btn-stats navbar-btn">
    <i class="fa fa-bar-chart"></i>
    Statistics
  </button>

  <!-- Preferences button -->
  <button type="button" class="btn btn-default btn-prefs navbar-btn">
    <i class="fa fa-sliders"></i>
    Preferences
  </button>

</div>
