<!-- Navbar header -->

<div class="navbar-header">
  <span class="navbar-brand">
    <span title="Flicks - Personal Movie Collection" class="enable-tooltip">
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-film fa-stack-1x fa-inverse"></i>
      </span>
      Flicks
    </span>
  </span>
</div>

<!-- View mode toggle -->
<div class="btn-group" id="radio-grid-tiles">
  <label title="List view" class="btn btn-default navbar-btn active enable-tooltip">
    <input type="radio" name="options" value="grid">
    <i class="fa fa-list"></i>
  </label>
  <label title="Tiles view" class="btn btn-default navbar-btn enable-tooltip">
    <input type="radio" name="options" value="tiles">
    <i class="fa fa-th"></i>
  </label>
</div>

<!-- Add movie -->
<button title="Add a new movie to the collection" type="button" class="btn btn-default navbar-btn enable-tooltip">
  <i class="fa fa-plus"></i>
  Add movie
</button>

<!-- Preferences button -->
<button title="Customize Flicks to your needs" type="button" class="btn btn-default navbar-btn enable-tooltip">
  <i class="fa fa-cogs"></i>
  Preferences
</button>

<!-- Search input -->
<form class="navbar-form navbar-right" role="search">
  <div class="form-group">
    <div class="input-group input-group">

      <span class="input-group-btn">
        <button title="Advanced search" id="btn-adv-search" class="btn btn-default enable-tooltip" type="button">
          <i class="fa fa-search-plus"></i>
        </button>
      </span>

      <input type="text" class="form-control" placeholder="Search">

      <span class="input-group-btn">
        <button title="Clear search" id="btn-clear-search" class="btn btn-default enable-tooltip disabled" type="button">
          <i class="fa fa-times"></i>
        </button>

        <button title="Go!" class="btn btn-default enable-tooltip disabled" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </span>

    </div>
  </div>
</form>

<!-- Status text -->
<p id="status-text" class="navbar-text navbar-right"></p>

<!-- Load indicator -->
<p id="spinner" class="navbar-text navbar-right">
  <i class="fa fa-spinner fa-2x fa-spin"></i>
</p>
