body {
  font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(229,229,229,1);
}

a {
  color: #555;
}

a:hover, a:active {
  color: black;
}

/* PAGE STRUCTURE */

#toolbar {
  padding: 9px 7px;
  text-align: center;
  background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
}

#buttons {
  float: left;
}

#top-search {
  float: right;
  margin-right: 8px;
}

#top-search input {
  width: 280px;
  margin-right: 8px;
}

#show-advanced {
  float: right;
}

#info {
  margin: 4px 8px 0 0;
  font-size: 120%;
  text-shadow: 0 1px 0 white;
}

#content {
  position: relative;
  float: right;
}

/* LOOKUP LINKS */

a.lookup {
  text-decoration: none;
}

a.lookup:hover, a.lookup:active {
  text-decoration: underline;
}

/* ADV SEARCH */

#adv-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  display: none;
  padding: 12px 16px;
  background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
  border-bottom-left-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

#adv-search .close {
  float: right;
}

#adv-search h1 {
  margin: 0 0 24px;
  font-size: 160%;
  text-shadow: 0 1px 0 white;
}

#adv-search > form > label {
  width: 120px;
  font-size: 120%;
  display: inline-block;
}

#adv-search input[type=text] {
  width: 200px;
}

#adv-search input[type=submit] {
  width: auto;
  margin-top: 24px;
}

#adv-search .inline {
  display: inline-block;
}

#adv-search .sep {
  clear: both;
  height: 6px;
}

/* SIDEBAR */

#sidebar {
  display: none;
  float: right;
  background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(208,208,208,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(208,208,208,1) 100%); /* FF3.6+ */
}

#sidebar .handle {
  width: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  cursor: pointer;
  float: left;
}

#sidebar .handle:hover {
  background-color: #ddd;
}

#sidebar.collapsed .handle {
  background-image: url(images/handle-collapsed.png);
}

#sidebar.expanded .handle {
  background-image: url(images/handle-expanded.png);
}

#sidebar.collapsed .movie-info {
  display: none;
}

#sidebar.expanded .movie-info {
  display: block;
  height: 100%;
  width: 490px;
  float: left;
}

#sidebar .movie-info form {
  margin: 0;
  padding: 10px;
}

#sidebar .movie-info input {
  padding: 5px 10px;
  margin: 0;
}

#sidebar .movie-info .id, #sidebar.expanded .movie-info input[name=title] {
  font-weight: bold;
  font-size: 200%;
}

#sidebar .movie-info div.id {
  display: inline-block;
  width: 50px;
  text-align: right;
  margin-right: 15px;
  text-shadow: 0 1px 0 white;
}

#sidebar .movie-info input[name=title] {
  width: 380px;
  background-color: rgba(255, 255, 255, 0.4);
}

#sidebar .actions {
  margin: 12px 0 8px;
}

#sidebar .action {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

#sidebar .action.fav-add {
  background-image: url(/static/images/heart_add.png);
}

#sidebar .action.fav-remove {
  background-image: url(/static/images/heart_delete.png);
}

#sidebar .action.mark-seen {
  background-image: url(/static/images/eye.png);
}

#sidebar .action.unmark-seen {
  background-image: url(/static/images/eye_delete.png);
}

#sidebar .action.delete {
  background-image: url(/static/images/delete.png);
}

#sidebar .action.find-cover {
  background-image: url(/static/images/image_edit.png);
}

#sidebar .search-icon {
  float: right;
  margin-left: 10px;
}

#sidebar .image {
  float: right;
  width: 235px;
  margin: 0 0 16px 16px;
}

#sidebar .image img {
  width: 235px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

#sidebar .movie-info .val {
  margin: 2px 0 12px;
  font-size: 130%;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  color: #555;
}

#sidebar .movie-info label {
  font-size: 110%;
}

#sidebar .movie-info .half-width {
  float: left;
  width: 100px;
}

.author {
  text-align: right;
  font-style: italic;
}

.ui-tabs-hide {
  display: none !important;
}

.ui-tabs .ui-tabs-panel {
  line-height: 160%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* GRID */

#grid {
  display: none;
}

.slick-row.odd .slick-cell {
  background-color: #f2f7f4;
}

.slick-row:hover .slick-cell {
  background-color: #f7f7f7;
}

.slick-row.active .slick-cell {
  background-color: #e4e4e4;
}

#spinner {
  position: fixed;
  left: 18px;
  bottom: 18px;
  width: 48px;
  height: 48px;
  background-image: url(/static/images/spinner.gif);
  z-index: 1000;
}

.slick-cell .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  float: right;
}

.slick-cell .seen-yes {
  background-image: url(images/eye.png);
}

.slick-cell .fav {
  background-image: url(images/heart.png);
}

.slick-cell .flag {
  margin-top: 1px;
  float: left;
}

/* MISC */

.clear {
  clear: both;
}

.clear-left {
  clear: left;
}

input {
  border-width: 1px;
  color: #555;
}

input:active, input:focus {
  color: black;
}
