<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Flicks - movie database{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css" media="all">
      @import url("{{ STATIC_URL }}smoothness/jquery-ui-1.9.2.custom.css");
      @import url("{{ STATIC_URL }}slick.grid.css");
      @import url("{{ STATIC_URL }}flags.css");
      @import url("{{ STATIC_URL }}flicks.css");
    </style>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.9.2.custom.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.event.drag-2.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie-1.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slick.core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slick.grid.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slick.rowselectionmodel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/flicks.init.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/flicks.state.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/flicks.str2iso.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/flicks.formatter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/flicks.modals.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/flicks.movieedit.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/flicks.djangostore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/flicks.grid.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/flicks.ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/flicks.start.js"></script>
  </head>
  <body>
    <div id="toolbar">
      <div id="show-advanced"><a href="#">Advanced search</a></div>
      <div id="top-search">
        <form action="#">
          <input type="text" name="query" value="Search">
          <a href="#" class="clear-search">Clear search</a>
          <div style="display:none"><input type="submit" value="Search"></div>
        </form>
      </div>
      {% block toolbar %}
      <div id="buttons">
        <a class="button list" href="#">Tile view</a>
        <a class="button add" href="#">Add new</a>
      </div>
      {% endblock %}
      <div id="info"></div>
      <div class="clear"></div>
    </div>
    <div id="adv-search">
      <button class="close">Close</button>
      <h1>Advanced search</h1>
      <form action="#">
        <label for="as_title">Title</label>
        <input type="text" name="title" id="as_title" value="">
        <div class="sep"></div>

        <label for="as_countries">Country</label>
        <input type="text" name="countries" id="as_countries" value="">
        <div class="sep"></div>

        <label for="as_genres">Genre</label>
        <input type="text" name="genres" id="as_genres" value="">
        <div class="sep"></div>

        <label for="as_keywords">Keyword</label>
        <input type="text" name="keywords" id="as_keywords" value="">
        <div class="sep"></div>

        <label for="as_cast">Cast</label>
        <input type="text" name="cast" id="as_cast" value="">
        <div class="sep"></div>

        <label for="as_directors">Director</label>
        <input type="text" name="directors" id="as_directors" value="">
        <div class="sep"></div>

        <label for="as_writers">Writer</label>
        <input type="text" name="writers" id="as_writers" value="">
        <div class="sep"></div>

        <label for="as_mpaa">MPAA rating</label>
        <input type="text" name="mpaa" id="as_mpaa" value="">
        <div class="sep"></div>

        <label for="as_radio_seen">Seen</label>
        <div id="as_radio_seen" class="inline">
          <input type="radio" id="as_radio_seen_dont_care" name="seen" checked="checked" value=""/><label for="as_radio_seen_dont_care">Don't care</label>
          <input type="radio" id="as_radio_seen_yes" name="seen" value="true" /><label for="as_radio_seen_yes">Yes</label>
          <input type="radio" id="as_radio_seen_no" name="seen" value="false" /><label for="as_radio_seen_no">No</label>
        </div>
        <div class="sep"></div>

        <label for="as_radio_favourite">Favourite</label>
        <div id="as_radio_favourite" class="inline">
          <input type="radio" id="as_radio_favourite_dont_care" name="favourite" checked="checked" value="" /><label for="as_radio_favourite_dont_care">Don't care</label>
          <input type="radio" id="as_radio_favourite_yes" name="favourite" value="true" /><label for="as_radio_favourite_yes">Yes</label>
          <input type="radio" id="as_radio_favourite_no" name="favourite" value="false" /><label for="as_radio_favourite_no">No</label>
        </div>
        <div class="sep"></div>

        <label for="as_year">Year</label>
        <div class="slider-wrapper as_year">
          <div id="as_slider_year"></div>
          <div class="display"></div>
        </div>
        <div class="sep"></div>

        <label for="as_runtime">Runtime (min)</label>
        <div class="slider-wrapper as_runtime">
          <div id="as_slider_runtime"></div>
          <div class="display"></div>
        </div>
        <div class="sep"></div>

        <label for="as_rating">Rating</label>
        <div class="slider-wrapper as_rating">
          <div id="as_slider_rating"></div>
          <div class="display"></div>
        </div>
        <div class="sep"></div>

        <label></label>
        <input type="submit" value="Search">
      </form>
    </div>
    <div id="sidebar">
      <div class="handle"></div>
      <div class="movie-info">
        <form id="movie-form" action="">
          <div class="id"></div>
          <input value="" name="title">
          <div class="actions">
            <a class="action fav" href="#" title="Add to favourites"></a>
            <a class="action seen" href="#" title="Mark seen"></a>
            <a class="action find-cover" href="#" title="Find a cover"></a>
            <a class="action delete" href="#" title="Delete film"></a>
            <a class="search-icon imdb-link" href="#" target="_blank"><img src="/static/images/imdb.png" title="IMDb"></a>
            <a class="search-icon kg-link" href="#" target="_blank"><img src="/static/images/karagarga.png" title="Karagarga"></a>
            <a class="search-icon os-link" href="#" target="_blank"><img src="/static/images/opensubtitles.png" title="OpenSubtitles"></a>
            <div class="clear"></div>
          </div>
          <div class="image"><img src="" alt=""></div>
          <label class="half-width">Year:</label><label class="half-width">Rating:</label>
          <div class="clear-left"></div>
          <div class="val year half-width"></div>
          <div class="val rating half-width"></div>
          <div class="clear-left"></div>
          <label>Countries:</label>
          <div class="val countries"></div>
          <label>Directors:</label>
          <div class="val directors"></div>
          <label>Producers:</label>
          <div class="val producers"></div>
          <label>Writers:</label>
          <div class="val writers"></div>
          <label>Genres:</label>
          <div class="val genres"></div>
          <label class="mpaa">MPAA:</label>
          <div class="val mpaa"></div>
          <div class="clear"></div>
          <div id="detail-tabs">
            <ul>
              <li><a href="#tabs-plot">Plot</a></li>
              <li><a href="#tabs-cast" class="cast-tab">Cast</a></li>
              <li><a href="#tabs-keywords">Keywords</a></li>
              <li><a href="#tabs-notes">Notes</a></li>
              <li><a href="#tabs-files">Files</a></li>
            </ul>
            <div id="tabs-plot"></div>
            <div id="tabs-cast"></div>
            <div id="tabs-keywords"></div>
            <div id="tabs-notes"></div>
            <div id="tabs-files"></div>
          </div>
        </form>
      </div>
    </div>
    <div id="content">
      <div id="spinner"></div>
      <div id="grid"></div>
    </div>
    <div id="modal" class="modal" title="">
      <p class="content"></p>
    </div>
    <div style="display: none" id="hidden_info">{{ hidden_info }}</div>
    {% csrf_token %}
  </body>
</html>
