<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Flicks - movie database{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css" media="all">
      @import url("{{ STATIC_URL }}smoothness/jquery-ui-1.9.2.custom.css");
      @import url("{{ STATIC_URL }}slick.grid.css");
      @import url("{{ STATIC_URL }}flags.css");
      @import url("{{ STATIC_URL }}flicks.css");
    </style>
  </head>
  <body>
    {% include "client-templates.html" %}
    {% include "js-includes.html" %}
    {% include "body.html" %}
    <div style="display: none" id="hidden_info">{{ hidden_info }}</div>
    {% csrf_token %}
  </body>
</html>
