<div id="toolbar">
  <div id="show-advanced"><a href="#">Advanced search</a></div>
  <div id="top-search">
    <form action="#">
      <input type="text" name="query" placeholder="Search">
      <a href="#" class="clear-search">Clear search</a>
      <div style="display:none"><input type="submit" value="Search"></div>
    </form>
  </div>
  {% block toolbar %}
  <div id="buttons">
    <a class="button tile-view" href="#">Tile view</a>
    <a class="button add" href="#">Add new</a>
  </div>
  {% endblock %}
  <div id="info"></div>
  <div class="clear"></div>
</div>
<div id="adv-search"></div>
<div id="sidebar">
  <div class="handle"></div>
  <div class="movie-info"></div>
</div>
<div id="content">
  <div id="spinner"></div>
  <div id="grid"></div>
</div>
<div id="overlay-bg"></div>
<div id="big-cover" title="Close"></div>
<div id="modal" class="modal" title="">
  <p class="content"></p>
</div>
<div id="dialog-add-movie" title="Add movie">
  <form id="add_movie_title_form">
    <label for="add_movie_title">Title search</label>
    <input type="text" name="title" id="add_movie_title" class="text ui-widget-content ui-corner-all" />
    <a class="button" id="add_movie_title_search" href="#">Go</a>
    <div class="spinner"></div>
    <p class="results"></p>
  </form>
  <form id="add_movie_by_imdb_id_form">
    <p>or</p>
    <label for="add_movie_imdb_id">IMDb #</label>
    <input type="text" name="imdb_id" id="add_movie_imdb_id" class="text ui-widget-content ui-corner-all" />
  </form>
</div>
<div id="dialog-change-imdb-id" title="Change IMDb ID">
  <form id="change_imdb_id_form">
    <label for="change_imdb_id_imdb_id">IMDb ID</label>
    <input type="text" name="imdb_id" id="change_imdb_id_imdb_id" class="text ui-widget-content ui-corner-all" />
  </form>
</div>
<div id="dialog-delete-confirm" title="Really delete?">
  Are you sure you want to delete that movie?
</div>
