<div id="toolbar">
  <div id="show-advanced"><a href="#">Advanced search</a></div>
  <div id="top-search">
    <form action="#">
      <input type="text" name="query" placeholder="Search">
      <a href="#" class="clear-search">Clear search</a>
      <div style="display:none"><input type="submit" value="Search"></div>
    </form>
  </div>
  {% block toolbar %}
  <div id="buttons">
    <a class="button list" href="#">Tile view</a>
    <a class="button add" href="#">Add new</a>
  </div>
  {% endblock %}
  <div id="info"></div>
  <div class="clear"></div>
</div>
<div id="adv-search"></div>
<div id="sidebar">
  <div class="handle"></div>
  <div class="movie-info"></div>
</div>
<div id="content">
  <div id="spinner"></div>
  <div id="grid"></div>
</div>
<div id="modal" class="modal" title="">
  <p class="content"></p>
</div>
