<!-- Sidebar -->

<script type="text/template" id="sidebar-template">
  <form id="movie-form" action="">
    <div class="id"><%= id %></div>
    <input value="<%- title %>" name="title"
           title="<%= $.flicks.formatter.concatenate(akas) %>">
    <div class="actions">
      <% if (favourite) { %>
        <a class="action fav fav-remove" href="#" title="Remove from favourites"></a>
      <% } else { %>
        <a class="action fav fav-add" href="#" title="Add to favourites"></a>
      <% } %>
      <% if (seen) { %>
        <a class="action seen unmark-seen" href="#" title="Unmark seen"></a>
      <% } else { %>
        <a class="action seen mark-seen" href="#" title="Mark seen"></a>
      <% } %>
      <a class="action find-cover" href="#" title="Find a cover"></a>
      <a class="action delete" href="#" title="Delete film"></a>
      <a class="search-icon kg-link" href="https://karagarga.net/browse.php?search_type=title&search=<%- title %>" target="_blank"><img src="/static/images/karagarga.png" title="Karagarga"></a>
      <% if (imdb_id) { %>
        <a class="search-icon imdb-link" href="http://www.imdb.com/title/tt<%- imdb_id %>" target="_blank"><img src="/static/images/imdb.png" title="IMDb"></a>
        <a class="search-icon os-link" href="http://www.opensubtitles.org/en/search/imdbid-<%- imdb_id %>" target="_blank"><img src="/static/images/opensubtitles.png" title="OpenSubtitles"></a>
      <% } %>
      <div class="clear"></div>
    </div>
    <div class="image"><img alt="Cover" src="/static/images/covers/movies_<%- id %>.jpg"></div>
    <label class="half-width">Year:</label><label class="half-width">Rating:</label>
    <div class="clear-left"></div>
    <div class="val year half-width">
      <a href="#" class="lookup year"><%= year %></a>
    </div>
    <div class="val rating half-width" title="<%= votes %> votes"><%= rating %></div>
    <div class="clear-left"></div>
    <label>Countries:</label>
    <div class="val countries">
      <%= $.flicks.formatter.concatenateA(countries, 'lookup countries') %>
    </div>
    <label>Languages:</label>
    <div class="val languages">
      <%= $.flicks.formatter.concatenateA(languages, 'lookup languages') %>
    </div>
    <label>Directors:</label>
    <div class="val directors">
      <%= $.flicks.formatter.concatenateA(directors, 'lookup directors') %>
    </div>
    <label>Producers:</label>
    <div class="val producers">
      <%= $.flicks.formatter.concatenateA(producers, 'lookup producers') %>
    </div>
    <label>Writers:</label>
    <div class="val writers">
      <%= $.flicks.formatter.concatenateA(writers, 'lookup writers') %>
    </div>
    <label>Genres:</label>
    <div class="val genres">
      <%= $.flicks.formatter.concatenateA(genres, 'lookup genres') %>
    </div>
    <% if (mpaa) { %>
      <label class="mpaa">MPAA:</label>
      <div class="val mpaa"><%= mpaa %></div>
    <% } %>
    <div class="clear"></div>
    <div id="detail-tabs">
      <ul>
        <li><a href="#tabs-plot">Plot</a></li>
        <li><a href="#tabs-cast" class="cast-tab">Cast</a></li>
        <li><a href="#tabs-keywords">Keywords</a></li>
        <li><a href="#tabs-notes">Notes</a></li>
        <li><a href="#tabs-files">Files</a></li>
      </ul>
      <div id="tabs-plot">
        <% var plot_splitted = plot.split('::'); %>
        <% if (plot_splitted.length > 1) { %>
          <p><%= plot_splitted[0] %></p>
          <p class="author"><%= plot_splitted[1] %></p>
        <% } else { %>
          <%= plot %>
        <% } %>
      </div>
      <div id="tabs-cast">
        <%= $.flicks.formatter.concatenateA(cast, 'lookup cast') %>
      </div>
      <div id="tabs-keywords">
        <%= $.flicks.formatter.concatenateA(keywords, 'lookup keywords') %>
      </div>
      <div id="tabs-notes"><%= notes %></div>
      <div id="tabs-files"><%= files %></div>
    </div>
  </form>
</script>

<!-- Search form -->

<script type="text/template" id="searchform-template">
  <button class="close">Close</button>
  <button class="clear-search">Clear search</button>
  <h1>Advanced search</h1>
  <form action="#">
    <label for="as_title">Title</label>
    <input type="text" name="title" id="as_title" value="<%- title %>">
    <div class="sep"></div>

    <label for="as_countries">Country</label>
    <input type="text" name="countries" id="as_countries" value="<%- countries %>">
    <div class="sep"></div>

    <label for="as_countries">Language</label>
    <input type="text" name="languages" id="as_languages" value="<%- languages %>">
    <div class="sep"></div>

    <label for="as_genres">Genre</label>
    <input type="text" name="genres" id="as_genres" value="<%- genres %>">
    <div class="sep"></div>

    <label for="as_keywords">Keyword</label>
    <input type="text" name="keywords" id="as_keywords" value="<%- keywords %>">
    <div class="sep"></div>

    <label for="as_cast">Cast</label>
    <input type="text" name="cast" id="as_cast" value="<%- cast %>">
    <div class="sep"></div>

    <label for="as_directors">Director</label>
    <input type="text" name="directors" id="as_directors" value="<%- directors %>">
    <div class="sep"></div>

    <label for="as_writers">Writer</label>
    <input type="text" name="writers" id="as_writers" value="<%- writers %>">
    <div class="sep"></div>

    <label for="as_mpaa">MPAA rating</label>
    <input type="text" name="mpaa" id="as_mpaa" value="<%- mpaa %>">
    <div class="sep"></div>

    <label for="as_radio_seen">Seen</label>
    <div id="as_radio_seen" class="inline">
      <input type="radio" id="as_radio_seen_dont_care" name="seen" value=""<% print(seen === '' ? ' checked="checked"' : ''); %> /><label for="as_radio_seen_dont_care">Don't care</label>
      <input type="radio" id="as_radio_seen_yes" name="seen" value="True"<% print(seen === 'True' ? ' checked="checked"' : ''); %> /><label for="as_radio_seen_yes">Yes</label>
      <input type="radio" id="as_radio_seen_no" name="seen" value="False"<% print(seen === 'False' ? ' checked="checked"' : ''); %> /><label for="as_radio_seen_no">No</label>
    </div>
    <div class="sep"></div>

    <label for="as_radio_favourite">Favourite</label>
    <div id="as_radio_favourite" class="inline">
      <input type="radio" id="as_radio_favourite_dont_care" name="favourite" value=""<% print(favourite === '' ? ' checked="checked"' : ''); %> /><label for="as_radio_favourite_dont_care">Don't care</label>
      <input type="radio" id="as_radio_favourite_yes" name="favourite" value="True"<% print(favourite === 'True' ? ' checked="checked"' : ''); %> /><label for="as_radio_favourite_yes">Yes</label>
      <input type="radio" id="as_radio_favourite_no" name="favourite" value="False"<% print(favourite === 'False' ? ' checked="checked"' : ''); %> /><label for="as_radio_favourite_no">No</label>
    </div>
    <div class="sep"></div>

    <label for="as_year">Year</label>
    <div class="slider-wrapper as_year">
      <div id="as_slider_year"></div>
      <div class="display"></div>
    </div>
    <div class="sep"></div>

    <label for="as_runtime">Runtime (min)</label>
    <div class="slider-wrapper as_runtime">
      <div id="as_slider_runtime"></div>
      <div class="display"></div>
    </div>
    <div class="sep"></div>

    <label for="as_rating">Rating</label>
    <div class="slider-wrapper as_rating">
      <div id="as_slider_rating"></div>
      <div class="display"></div>
    </div>
    <div class="sep"></div>

    <label></label>
    <input type="submit" value="Search">
  </form>
</script>
